:root {
    --dgreen: rgb(0, 48, 0);
    --ltan: rgb(255, 226, 188);
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --green: rgb(4, 75, 4);
}

.header {
    background-color: var(--dgreen);
    color: var(--ltan);
    width: 100%;
    padding-top: 5px;
    font-family: var(--font);
}
a {
    color:  var(--ltan);
}

h1 {
    font-size: 250%;
    background-color: var(--ltan);
    color: var(--green);
    margin: 0 80% 0 0;
    padding: 15px 0;
}

.nav {
    font-size: 20px;
    display: flex;
    text-decoration: underline;
    justify-content: space-evenly;
    margin: 0 0 0 70%;
    list-style: none;
}

/**class to adjust image above content of page**/
.banner {
    background-color: var(--ltan);
    padding-bottom: 5px;
    width: 100%;
    height: 300px;
    margin: 0;
}

h2 {
    font-size: 200%;
    padding-right: 5px;
    border-right: 5px solid var(--dgreen);
}

div p {
    margin-left: 150px;
    text-align: center;
}

.first-project {
    max-width: 65%;
    max-height: 65%;
} 

.card {
    
}

.content {
    display: flex;
    background-color: var(--ltan);
    color: var(--green);
    font-family: var(--font);
    padding: 15px 150px 10px 200px;
}

.contact {
    font-size: 18px;
    display: flex;
    text-decoration: underline;
    list-style: none;
}

/**media queries for different screen sizes**/
@media {

}

@media {

}